<div class="pag-header">
  <h3><%= "Jobs in #{@jobs_in_city.first.city}" %></h3>
</div>

<div class="col-md-8 jobs">
  <% @jobs_in_city.each do |job| %>
    <%= link_to "#{job.title} at #{job.company.name}", company_job_path(job.company.id, job)  %>
  <% end %>
</div>
