All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul>
    <h3> <%= job.title %> at <%= job.company.name %></h3>
    <div>
      <%= link_to 'Edit a job', edit_company_job_path(@company, job) %>
    </div>
  </ul>
<% end %>
